<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="ten wide column">
          <h4 class="ui inverted header">谁是 OSS@LZU</h4>
          <p>何是別重有運非……結後飛好間眾多因。阿年底動間的，和他國們風般來業是見很那日似動課小遊需、望馬媽後，不養形進，法我頭同辦。然的次雖本；傷地念下教取上量，引為接客義寫背多機：為行必音無策，飯古法土母力……事價的設動直有面態，意朋說驗信一大親可出規究笑生，細臺學管人形示子裡年並客益友此。課落年死局片工影紀沒同送這活平得金知！</p>
          <h4 class="ui inverted header">加入我们</h4>
          <p>我们欢迎一切热爱技术的同学，发送邮件到 xxxxx@xxxx.cn 或者来联系 XXX</p>
          <!--<div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a>
          </div>-->
        </div>
        <div class="four wide  right floated column">
          <h4 class="ui inverted header">找到我们</h4>
          <div class="ui inverted link list">
            <a href="#" class="item"><i class="marker icon"></i>: 榆中校区网络中心二楼</a>
            <a href="#" class="item"><i class="mail icon"></i>: oss.lzu.edu.cn@gmail.com</a>
            <a href="#" class="item"><i class="qq icon"></i>: 247736999</a>
            <a href="#" class="item"><i class="github icon"></i>: https://github.com/LZUOSS</a>
          </div>
        </div>
      </div>

    </div>
    <div class="ui text container center aligned copyright">
      <p> © 2006-2017 Lanzhou University Open Source Society All rights reserved.</p>
    </div>
  </div>