  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu left">
    <a class="item active">OSS@LZU </a>
    <a class="item">新闻 </a>
    <a class="item">项目 </a>
    <a class="item">镜像 </a>
    <a class="item">成员 </a>
    <a class="item">存档 </a>
    <a class="item right">Logo </a>
  </div>